.row
  .col.s12.m6
    %h2 Registrar mi organización
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .input-field
        = f.label :name, "Nombre"
        = f.text_field :name, autofocus: true
      .input-field
        = f.label :email, "Email para entrar a la plataforma"
        = f.email_field :email
      .input-field
        = f.label :password, "Contraseña", "data-hint" => "#{@minimum_password_length} caracteres mínimo"
        = f.password_field :password, autocomplete: "off"
      .input-field
        = f.label :password_confirmation, "Reingresar contraseña"
        = f.password_field :password_confirmation, autocomplete: "off"

      %h2 Organización
      = f.fields_for :organization, Organization.new do |org_f|
        .input-field
          = org_f.label :name, "Nombre de Organización"
          = org_f.text_field :name
        .input-field
          = org_f.label :telephone_number, "Número de teléfono"
          = org_f.text_field :telephone_number
        .input-field
          = org_f.label :email, "Email de contacto"
          = org_f.text_field :email
        .input-field
          = org_f.label :twitter
          = org_f.text_field :twitter
        .input-field
          = org_f.label :facebook
          = org_f.text_field :facebook
        .row
          .input-field.col.s12.m6.checkbox
            = org_f.label :legally_formed, "Tiene inscripción legal"
            = org_f.check_box :legally_formed
      .actions
        = f.submit "Registrarse", class: 'btn btn-large'
.row
  = render "devise/shared/links"
