.row
  = form_for @project, html: {class: "col s12"} do |f|
    - if @project.errors.any?
      #error_explanation
        %p= "No se pudo guardar por #{pluralize(@project.errors.count, "error")}"
        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg
    .row
      .input-field.col.s12.m6
        = active_label(f, :name, @project)
        = f.text_field :name
    - if current_user.admin
      .row
        .input-field.col.s12.m6
          = f.label :organization_id, class: 'active'
          = f.collection_select(:organization_id, Organization.all, :id, :name)
    .row
      .input-field.col.s12.m6
        = active_label(f, :description, @project)
        = f.text_area :description, class: "materialize-textarea"
    .row
      .input-field.col.s12.m6
        / MULTIPLE SELECT
        = active_label(f, :location, @project)
        = f.text_field :location
    .row
      .input-field.col.s6.m3
        = active_label(f, :start_date, @project)
        = f.text_field :start_date, class: 'datepicker', value: @project.start_date.strftime("%d/%m/%Y")
      .input-field.col.s6.m3
        = active_label(f, :end_date, @project)
        = f.text_field :end_date, class: 'datepicker', value: @project.end_date.strftime("%d/%m/%Y")
    .row
      .input-field.col.s12.m6= f.label :project_goals
    .row
      .input-field
        .col.s6.m3
          - SustainableDevelopmentGoal.all[0..8].each do |goal|
            %p
              = check_box_tag "project[project_goals][]", goal.number, @project.for_goal?(goal.number), id: "project_goals_#{goal.number}"
              %label{for: "project_goals_#{goal.number}"}
                - inline_sdg(goal)
        .col.s6.m3
          - SustainableDevelopmentGoal.all[9..16].each do |goal|
            %p
              = check_box_tag "project[project_goals][]", goal.number, @project.for_goal?(goal.number), id: "project_goals_#{goal.number}"
              %label{for: "project_goals_#{goal.number}"}
                - inline_sdg(goal)
    .row
      .col.s6
        = f.submit 'Guardar cambios', class: 'btn btn-large'
        - if current_user.is_admin
          - if @project.published
            = f.submit 'Ocultar al público', class: 'btn btn-large danger', :data => { :confirm => '¿Bajar este proyecto del sitio público?' }
          - else
            = f.submit 'Publicar', class: 'btn btn-large danger', :data => { :confirm => '¿Publicar proyecto en el sitio público?' } if current_user.is_admin
        = link_to 'Volver', projects_path, class: "btn btn-flat btn-large"

