#dashboard
  .row
    .col.s12
      %h3 Proyectos por ODS
      #by-sdg
        = render 'by_sdg'
        %svg#sdg-chart
  .divider#dashboard
  .row#charts
    .col.s12.m4
      %h3 Proyectos por provincia
      #map
        = render 'map'
    .col.s12.m4
      %h3 Proyectos por población
      #population
        %svg
    .col.s12.m4
      %h3 Proyectos subidos por mes
      #timeline
        %svg

:javascript
  var projects_by_location = #{@by_location.to_json};
  var projects_by_sdg = #{@by_sdg.to_json};
  var projects_by_population = #{@by_population.to_json};
  var labels = #{Population.labels.to_json};
  var projects_by_upload_date = #{@by_time.to_json};
