.title
  %h2
    - if current_user.organization
      Proyectos de
      = current_user.organization.name
    - else
      Proyectos
    = link_to new_project_path, class: "btn-floating btn-large right" do
      %i.material-icons add

%table.bordered.highlight
  %thead
    %tr
      %th= Project.human_attribute_name(:name).capitalize
      %th= Project.human_attribute_name(:description).capitalize
      %th= Project.human_attribute_name(:location).capitalize
      %th= Project.human_attribute_name(:start_date).capitalize
      %th= Project.human_attribute_name(:end_date).capitalize
      %th= Project.human_attribute_name(:published).capitalize
      - if current_user.is_admin
        %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.description
        %td= project.location
        %td= project.start_date
        %td= project.end_date
        %td
          - checkmark_icon(project.published)
        - if current_user.is_admin
          %td= link_to 'Vista al público', project_path(project)
        %td= link_to 'Editar', edit_project_path(project)
        %td= link_to 'Borrar', project, :method => :delete, :data => { :confirm => '¿Borrar este proyecto?' }
