.title
  %h2
    - if current_user.is_admin
      Proyectos
    - else
      Proyectos de
      = current_user.organization.name
    = link_to new_project_path, class: "btn-floating btn-large right" do
      %i.material-icons add

- if !current_user.admin && !current_user.organization.accepted
  .row
    .col.s12
      %i.material-icons.red-text warning︎
      Tu organización necesita autorización de RACI antes de aparecer en el portal público. Podés cargar proyectos, pero estos también quedarán pendientes de aprobación.


%table.bordered.highlight
  %thead
    %tr
      %th= Project.human_attribute_name(:name).capitalize
      %th= Project.human_attribute_name(:locations).capitalize
      %th= Project.human_attribute_name(:populations).capitalize
      %th= Project.human_attribute_name(:start_date).capitalize
      %th= Project.human_attribute_name(:end_date).capitalize
      %th= Project.human_attribute_name(:published).capitalize
      - if current_user.is_admin
        %th
      %th
      %th

  %tbody
    - @projects.each do |project|
      %tr
        %td= project.name
        %td= project.locations.map{|l| l.name}.join(", ")
        %td= project.populations.map{|p| p.name}.join(", ")
        %td= project.start_date.try(:strftime,"%d/%m/%Y")
        %td= project.end_date.try(:strftime,"%d/%m/%Y")
        %td
          - checkmark_icon(project.published)
        /- if current_user.is_admin
        /  %td= link_to 'Vista al público', project_path(project)
        %td= link_to 'Editar', edit_project_path(project)
        %td= link_to 'Borrar', project, :method => :delete, :data => { :confirm => '¿Borrar este proyecto?' }
