.listings-table-content
  - unless listing.items.empty?
    - unless listing.export_formats.empty?
      %a.dropdown-button.tooltipped.right{"data-activates" => "dropdown", "data-beloworigin" => "true", "data-hover" => "true", "data-position" => "top", "data-tooltip" => "Download as", :href => "#"}
        %i.material-icons.grey-text file_download
      %ul.dropdown-content#dropdown
        - listing.export_formats.each do |format|
          %li
            = link_to format, listing.url_for_format(format), download: true

    %table.bordered.highlight{'class' => listing.table_css_class}
      %thead
        - if listing.selectable?
          %th.batch-selection-header
            %input#batch-selection{:type => "checkbox"}

        - listing.columns.each do |col|
          %th{'class' => "#{'sortable ' + (col.sort || '') if col.sortable?}" }
            - if col.sortable?
              = link_to col.human_name.capitalize, listing.url_for_sort(col.key, col.next_sort_direction), remote: true
            - else
              = col.human_name.capitalize

      %tbody
        - listing.items.each do |item|
          %tr{class: listing.row_style_for(item)}
            - if listing.selectable?
              %td
                %input.checkbox-selection{:name => "selected", :type => "checkbox", :value => item.id}
            - listing.columns.each do |col|
              %td{class: col.cell_css_class}
                = col.value_for(item)

    .right-align
      %ul.pagination
        - if listing.paginated?
          %li
            - _params = listing.params
            - _params = _params.to_unsafe_h unless _params.is_a?(Hash)
            = paginate listing.items, :remote => true, :theme => listing.kaminari_theme, :params => _params



  - else
    = listing.no_data_message
