.row
  = form_for @organization, html: {class: "col s12"} do |f|
    - if @organization.errors.any?
      #error_explanation
        %p= "No se pudo guardar por #{pluralize(@organization.errors.count, "error")}"
        %ul
          - @organization.errors.full_messages.each do |msg|
            %li= msg
    .row
      .input-field.col.s12.m6
        = active_label(f, :name, @organization)
        = f.text_field :name
    .row
      .input-field.col.s12.m6
        = active_label(f, :email, @organization)
        = f.text_field :email
    .row
      .input-field.col.s12.m6
        = active_label(f, :telephone_number, @organization)
        = f.text_field :telephone_number
    .row
      .input-field.col.s12.m6.checkbox
        = f.check_box :legally_formed
        = f.label :legally_formed
    .row
      .input-field.col.s12.m6
        = active_label(f, :twitter, @organization)
        = f.text_field :twitter
    .row
      .input-field.col.s12.m6
        = active_label(f, :facebook, @organization)
        = f.text_field :facebook
    .actions
      = f.submit 'Guardar', class: 'btn btn-large'
