- content_for :main do
  .row#sdg-menu
    .col.s12
      #menu.menu
        - SustainableDevelopmentGoal.all.each do |goal|
          = link_to goal_path(goal.url), class: 'menu-link' do
            %svg{class: "ods#{goal.number}-menu"}
              %use.menu-item{"xlink:href" => "#ODS#{goal.number}"}
  = yield
  .row
    .col.m2.s12
    .col.m10.12.small.copy
      Material extraído del
      = link_to "website de las Naciones Unidas", "http://www.un.org/sustainabledevelopment/es/", target: "_blank"
= render template: "layouts/application"
